<div style="width: 20%; margin-top: 58px; position: absolute;">
    <mat-accordion>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Arms
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-list>
                <mat-list-item (click)="changeActive('arms1')">Case 1</mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Breast
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-list>
                <mat-list-item (click)="changeActive('breasts1')">Case 1</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item (click)="changeActive('breasts2')">Case 2</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item (click)="changeActive('breasts3')">Case 3 </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item (click)="changeActive('breasts4')">Case 4</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item (click)="changeActive('breasts5')">Case 5</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item (click)="changeActive('breasts6')">Case 6</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item (click)="changeActive('breasts7')">Case 7</mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Butt
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-list>
                <mat-list-item (click)="changeActive('butt1')">Case 1</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item (click)="changeActive('butt2')">Case 2</mat-list-item>
                <mat-divider></mat-divider>
                <!-- <mat-list-item (click)="changeActive('butt3')">Case 3</mat-list-item>
                <mat-divider></mat-divider> -->
            </mat-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Faces
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-list>
                <mat-list-item (click)="changeActive('face1')">Case 1</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item (click)="changeActive('face2')">Case 2</mat-list-item>
                <mat-divider></mat-divider>
                <!-- <mat-list-item>Case 3 </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Case 4</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Case 5</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Case 6</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Case 7</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Case 8</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Case 9</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Case 10</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Case 11</mat-list-item>
                <mat-divider></mat-divider> -->
            </mat-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Lipo
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-list>
                <mat-list-item (click)="changeActive('lipo1')">Case 1</mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Mommy MakeOver
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item (click)="changeActive('mommy1')">Case 1</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item (click)="changeActive('mommy2')">Case 2</mat-list-item>
                <mat-divider></mat-divider>
                <!-- <mat-list-item>Case 3 </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Case 4</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Case 5</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Case 6</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Case 7</mat-list-item>
                <mat-divider></mat-divider> -->
            </mat-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Rhinoplasty
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-list>
                <mat-list-item (click)="changeActive('rhinoplasty1')">Case 1</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item (click)="changeActive('rhinoplasty2')">Case 2</mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>


<div class="container">
    <div>
        <h4 style=" color: #1a5690; font-size: 28px; margin-left: 2%;">{{title}}</h4>
        <img *ngFor="let pic of returnedArray" style="margin: 20px; " src="{{ pic.url }}" />
        <pagination [itemsPerPage]="2" [directionLinks]="showDirectionLinks" [totalItems]="active.length" (pageChanged)="pageChanged($event)"></pagination>
    </div>
</div>