/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.mat-expansion-panel-header-title {
    align-items: center;
    align-content: center;
    font-size: 28px;
    text-align: center;
    display: block !important;
    color: #1a5690;
    flex-grow: 1;
    margin-right: 16px;
}

.mat-list .mat-list-item .mat-list-item-content,
.mat-list .mat-list-option .mat-list-item-content,
.mat-nav-list .mat-list-item .mat-list-item-content,
.mat-nav-list .mat-list-option .mat-list-item-content,
.mat-selection-list .mat-list-item .mat-list-item-content,
.mat-selection-list .mat-list-option .mat-list-item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;
    font-size: 20px;
    position: relative;
    color: #a5822e;
    height: inherit;
}


/*Portfolio===============================*/

#portfolio {
    margin: 1rem 0;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
}

#portfolio-container .tile {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

#portfolio-container .tile:hover {}

#portfolio-container .scale-anm {
    transform: scale(1);
}

#portfolio-container p {
    padding: 10px;
    border-bottom: 1px #ccc dotted;
    text-decoration: none;
    font-family: lato;
    text-transform: uppercase;
    font-size: 12px;
    color: #333;
    display: block;
    float: left;
}

#portfolio-container p:hover {
    cursor: pointer;
    background: #333;
    color: #eee;
}

#portfolio-container .tile img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

#portfolio-container .btn {
    font-family: Lato;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: 5px 10px;
    margin: 0;
    height: auto;
    border: 1px solid;
    vertical-align: middle;
    -webkit-appearance: none;
    color: #555;
    background-color: rgba(0, 0, 0, 0);
}

#portfolio-container .btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: #FF1351;
}

#portfolio-container .btn:focus {
    outline: none;
    border-color: var(--darken-2);
    box-shadow: 0 0 0 3px var(--darken-3);
}


/*Portfolio===============================*/

#portfolio-container .active {
    background-color: #FF1351;
    color: #fff;
    outline: 0;
    box-shadow: none;
}

#portfolio-container .active:active {
    background-color: #FF1351;
    color: #fff;
    outline: 0;
    box-shadow: none;
}

.container {
    max-width: 55% !important;
    margin-left: 30%;
}

.img-magnifier-container {
    position: relative;
}

.img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 100px;
    height: 100px;
}